{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class='container' style='margin-top:20px; max-width: 800px;'>
    <div class="row mt-3" >
        <div class="col-md-12">
            <div class="form-card" style="padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); background-color: #E1AFD1">
                <form method="post" style="color: black; font-weight: bold; font-size: 14px; ">
                    <h3 style="text-align: center; margin-bottom: 20px; font-weight: bold; color: black; font-size: 18px;">Resume</h3>               
                    {% csrf_token %}
                
                    {{ form|crispy }}
                
                    <button type="submit" class="btn btn-warning mb-3" style="width: 100%;  border-color: #ffc107; font-weight: bold; font-size: 16px;  background-color: #7469B6;"><h5 style="margin: 0; color: white;">Update</h5></button>
                    <button class="btn btn-warning mb-3" style="width: 100%; font-weight: bold; font-size: 16px; background-color: #7469B6;" onclick="location.href='{% url 'edit_profile' %}'"><h5 style="margin: 0; color: white;">Edit profile</h5></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
