{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <style>
    .applicant-details-box {
        border: 1px solid black; /* Adjust the border width as needed */
        padding: 20px;
        margin-bottom: 20px;
    }
</style>
<div class="container mt-5">
    <h1 class="text-center mb-5">Applicant Details</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="applicant-details-box p-4" style="background-color: #f6e7f1;">
                <h3>{{ applicant.applicants.username }}</h3>
                <p><strong>Email:</strong> {{ applicant.applicants.email }}</p>
                <p><strong>Cover Letter:</strong> {{ applicant.cover_letter }}</p>
                <p><strong>Resume:</strong> <a href="{{ applicant.resume.url }}" target="_blank">Download</a></p>
                <p><strong>Availability:</strong> {{ applicant.availability|yesno:"Available,Not Available" }}</p>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}
