{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container d-flex" style="margin-top:20px;">
    <div class="form-card col-md-6" style="padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 50%; margin: auto;">
        <form method="post" enctype="multipart/form-data" style="color: black; font-weight: bold;">
            <h1 style="text-align: center; margin-bottom: 30px; font-weight: bold; color: black;"> Job Apply</h1>
        
            {% csrf_token %}
        
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.errors }}
                </div>
            {% endif %}
        
            {{ form|crispy }}
            <button type="submit" class="btn btn-warning mb-3" style="width: 100%; background-color: #ffc107; border-color: #ffc107; font-weight: bold; font-size: 16px;">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
