{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <div class="container mt-5 mb-5">
    <h1 class="text-center mb-5">Applicants for {{ job.title }}</h1>
    {% if applicants %}
        <table class="table table-bordered table-striped" style="background-color: #E1AFD1;">
            <thead class="thead-dark">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Cover Letter</th>
                    <th>Resume</th>
                    <th>Availability</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for applicant in applicants %}
                    <tr>
                        <td>{{ applicant.applicants.username }}</td>
                        <td>{{ applicant.applicants.email }}</td>
                        <td>{{ applicant.cover_letter|truncatewords:10}} 
                            <a href="{% url 'applicant_details' applicant.pk %}">More</a>
                        </td>
                        <td><a href="{{ applicant.resume.url }}" target="_blank">Download</a></td>
                        <td>{{ applicant.availability|yesno:"Available,Not Available" }}</td>
<td>
    <form action="{% url 'delete_applicant' applicant.pk %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center">No applicants have applied for this job yet.</p>
    {% endif %}
</div>
</main>
{% endblock %}
